# Data Focused Python

### Week 1. Introduction to Python, IDEs and basic data types

In [1]:
# Hello World!
print("Hello, World!")

Hello, World!

In [2]:
# Defining variables
a = 42 # a is an int variable
x = 2.715 # x is a float variable
s = "Hello, World!" # s is a string variable
b = False # b is a bool variable

In [3]:
aa = 1
aA = 2
Aa = 3
AA = 4 # four distinct variables
cm_per_in = 2.54 # GOOD for readability
conversion_rate = 0.95 # GOOD for readability
# $con = 2 # NOT allowed in Python

Below is a detailed explanation of what is not allowed in Python variable names:
1. Starting with a Number
- e.g. `2name`
	
2. Using Special Characters
- Variable names can only contain letters (A-Z, a-z), digits (0-9), and underscores (`_`). Special characters like `$`, `@`, `#`, `%`, `-`, etc., are not allowed.
- e.g. `$c`, `my-var`, `user@name`

3. Using Spaces
- Spaces are not permitted in variable names. Use underscores (`_`) instead to separate words.
- e.g. `my var`

4. Using Python Keywords
- Reserved keywords in Python (e.g., `class`, `if`, `else`, `for`) cannot be used as variable names.

5. Case Sensitivity

6. Assignment to Literals or Keywords
- You cannot assign values to literals like numbers or Boolean values, or to reserved keywords.
- e.g. `0 = x`, `False = y`

In [4]:
# define x and check type
x = 10
type(x)

int

In [5]:
# define i and check type
i = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
type(i)

list

In [6]:
# use isinstance to check x
isinstance(x, str)

False

In [7]:
# strings with single and double quotes
e1 = '"This is a string", she said'
e2 = "Here's another string"

In [8]:
# return above defined strings
print(e1)
print(e2)

"This is a string", she said
Here's another string

In [13]:
# string construction
s1 = """This is a string"""
s2 = '''This is also a string'''
# BTW triple quotes can span multiple lines
s3 = str('Also a string')
s4 = str(x) # converts the integer 10 to a string (NOT x)

In [14]:
# return the above defined strings
print(s1)
print(s2)
print(s3)
print(s4)

This is a string
This is also a string
Also a string
10

In [15]:
# using the escape character
f1 = 'Here\'s one more string using the escape character'

In [16]:
print(f1)

Here's one more string using the escape character

In [17]:
# define variables
a = 12
b = 12

# equality check
a == b

True

In [18]:
# check using is
a is b

True

In [19]:
# negation
not a == b

False

In [20]:
long_float = 256.34852398713

In [21]:
long_float

256.34852398713

In [22]:
# round to integer
round(long_float)

256

In [23]:
# round to 3 decimal places
round(long_float, 3)

256.349

In [24]:
## print list of installed packages
# !pip list

In [25]:
# # print list of packages and write to a file named requirements.txt
# !pip freeze > requirements.txt

In [26]:
# pip install nbconvert

In [27]:
# # export notebook results to html
# !jupyter nbconvert --to html class1.ipynb

### Week 2. More on data types,variables, structures and operations, packages and basic file handling

#### List

In [28]:
# example list
v1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(v1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
# change an item in the list
v1[0] = 10

# append to the end of a list
v1.append(12)

# insert at some point in the list
v1.insert(4, 12)

print(v1)

[10, 2, 3, 4, 12, 5, 6, 7, 8, 9, 10, 12]

In [30]:
# remove the first item in the list
v1.remove(10)
print(v1)

[2, 3, 4, 12, 5, 6, 7, 8, 9, 10, 12]

#### Tuple

In [31]:
# create and example a tuple
v2 = (9, "a", True, 14.575)
print(v2)

(9, 'a', True, 14.575)

In [32]:
# try to append to the tuple
v2.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [33]:
# concatenate the tuple
v2a = v2 + (0, 0)
print(v2a)

(9, 'a', True, 14.575, 0, 0)

#### Set

In [34]:
# create and examine an example set
v3 = {1,1,1,1,2,2,3,3,3,3,4,4,4,4,5,6,7,8,9}
print(v3)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

#### Dictionary

In [35]:
# create a very simple dictionary
fruits = {
    "apple": "red",
    "banana": "yellow",
    "grape": "purple"
}

In [38]:
# accessing dictionary keys
fruit_keys = list((fruits.keys()))
fruit_keys

['apple', 'banana', 'grape']

In [40]:
# accessing dictionary values
fruits.values()

dict_values(['red', 'yellow', 'purple'])

In [41]:
# accessing all dictionary elements
fruits.items()

dict_items([('apple', 'red'), ('banana', 'yellow'), ('grape', 'purple')])

In [42]:
# example employee dictionary - more detailed
employees = {
    "emp001": {
        "name": "Alice Johnson",
        "age": 30,
        "department": "HR",
        "position": "Manager",
        "salary": 70000
    },
    "emp002": {
        "name": "Bob Smith",
        "age": 25,
        "department": "IT",
        "position": "Developer",
        "salary": 60000
    },
    "emp003": {
        "name": "Charlie Brown",
        "age": 28,
        "department": "Finance",
        "position": "Analyst",
        "salary": 65000
    },
    "emp004": {
        "name": "Diana Prince",
        "age": 35,
        "department": "Marketing",
        "position": "Director",
        "salary": 80000
    }
}

In [43]:
# look at the components of the employee dictionary
employees.keys()

dict_keys(['emp001', 'emp002', 'emp003', 'emp004'])

In [44]:
# look at the values
employees.values()

dict_values([{'name': 'Alice Johnson', 'age': 30, 'department': 'HR', 'position': 'Manager', 'salary': 70000}, {'name': 'Bob Smith', 'age': 25, 'department': 'IT', 'position': 'Developer', 'salary': 60000}, {'name': 'Charlie Brown', 'age': 28, 'department': 'Finance', 'position': 'Analyst', 'salary': 65000}, {'name': 'Diana Prince', 'age': 35, 'department': 'Marketing', 'position': 'Director', 'salary': 80000}])

In [45]:
# look at sub-elements
employees['emp001']

{'name': 'Alice Johnson',
 'age': 30,
 'department': 'HR',
 'position': 'Manager',
 'salary': 70000}

In [46]:
# look at sub-elements
employees['emp001'].keys()

dict_keys(['name', 'age', 'department', 'position', 'salary'])

In [47]:
# look at sub-elements
employees['emp002'].values()

dict_values(['Bob Smith', 25, 'IT', 'Developer', 60000])

In [48]:
# look at sub-elements
list(employees['emp002'].values())

['Bob Smith', 25, 'IT', 'Developer', 60000]

In [51]:
# look at sub-elements
list(employees['emp002'].values())[1]

25

In [52]:
test_text = "HeLLo WoRLd"

In [53]:
test_text_caps = test_text.upper()

In [55]:
print(test_text)
print(test_text_caps)

HeLLo WoRLd
HELLO WORLD

#### Basic File Handling

In [13]:
# check directorry
import os
folder_contents = os.listdir()
folder_contents

['.DS_Store',
 'Data Focused Python Class Notebook.ipynb',
 'datasets',
 'The Zen of Python.txt']

In [2]:
os.path.isdir('datasets')

True

In [4]:
# check file
os.path.isfile('Data Focused Python Class Notebook.ipynb')

True

In [5]:
# check file
os.path.isfile('datasets')

False

In [6]:
# return the current directory
os.getcwd()

'/Users/sjhang/Desktop/dfpy24'

In [8]:
# use the math module
import math
math.sqrt(99)

9.9498743710662

In [9]:
# return the valueof pi
math.pi

3.141592653589793

In [10]:
# calculate factorial
math.factorial(5)

120

In [12]:
# read a text files with base Python
# using open and close
f = open('The Zen of Python.txt', 'r')
print(f.read())
f.close

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [14]:
with open('test_text_file.txt', 'r') as file:
    content = file.read()

# show the content of the file
print(content)

This is a simple text file.
It is short but a file of any length and basically any content can be opened the same way.
The file can contain numbers, text, almost anything except for images.
END OF TEST FILE

This is really the end

In [15]:
# use pandas to open a dataset
import pandas as pd
faithful = pd.read_csv('datasets/faithful.csv')

In [16]:
# look at the start of the file
faithful.head()

   eruptions  wait_time
0      3.600       79.0
1      1.800       54.0
2      3.333       74.0
3      2.283       62.0
4      4.533       85.0

In [17]:
# look at the end of the file
faithful.tail(10)

     eruptions  wait_time
262      1.850       58.0
263      4.250       83.0
264      1.983       43.0
265      2.250       60.0
266      4.750        NaN
267      4.117        NaN
268      2.150       46.0
269      4.417       90.0
270      1.817       46.0
271      4.467       74.0

In [18]:
# length of the file
len(faithful)

272

In [19]:
# dimensions of the file
faithful.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   eruptions  270 non-null    float64
 1   wait_time  269 non-null    float64
dtypes: float64(2)
memory usage: 4.4 KB

In [20]:
# use pandas to open the same text file
data = pd.read_csv("test_text_file.txt", delimiter="\t", header=None)

In [21]:
data

                                                   0
0                        This is a simple text file.
1  It is short but a file of any length and basic...
2  The file can contain numbers, text, almost any...
3                                   END OF TEST FILE
4                             This is really the end

In [23]:
# import json file
import json

# open and read the JSON file
with open('datasets/json_employees.json', 'r') as file:
    empdata = json.load(file)

In [24]:
# print the dataset
print(empdata)

{'emp001': {'name': 'Alice Johnson', 'age': 30, 'department': 'HR', 'position': 'Manager', 'salary': 70000}, 'emp002': {'name': 'Bob Smith', 'age': 25, 'department': 'IT', 'position': 'Developer', 'salary': 60000}, 'emp003': {'name': 'Charlie Brown', 'age': 28, 'department': 'Finance', 'position': 'Analyst', 'salary': 65000}, 'emp004': {'name': 'Diana Prince', 'age': 35, 'department': 'Marketing', 'position': 'Director', 'salary': 80000}}

In [25]:
# what is the data structure of the file?
type(empdata)

dict

### Week 3. Control Flow Statements and Functions

#### Formatted string literals, f-strings

In [26]:
# f strings
inum = 160
fnum = 6.54
bv = False

print('My integer is ', inum, 'float', fnum, 'and boolean value', bv)

My integer is  160 float 6.54 and boolean value False

In [27]:
# f string example
print(f'My integer is {inum} float {fnum} and boolean value {bv}')

My integer is 160 float 6.54 and boolean value False

#### If Statement

In [28]:
# check if a number is even or odd
number = 9

if number % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

The number is odd.

In [29]:
# check if a number is positive, negative, or zero
number = 0

if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

The number is zero.

In [30]:
# determine the type of day based on the temperature
temperature = -5

if temperature >= 90:
    print("It's a hot day.")
elif temperature >= 70:
    print("It's a warm day.")
elif temperature >= 50:
    print("It's a cool day.")
elif temperature >= 32:
    print("It's a cold day.")
else:
    print("It's freezing!")

It's freezing!

#### For Loop

In [31]:
# simple loop
for x in range(10): 
    print(f'the number is {x} and the square is {x**2}')

the number is 0 and the square is 0
the number is 1 and the square is 1
the number is 2 and the square is 4
the number is 3 and the square is 9
the number is 4 and the square is 16
the number is 5 and the square is 25
the number is 6 and the square is 36
the number is 7 and the square is 49
the number is 8 and the square is 64
the number is 9 and the square is 81

In [32]:
# simple list comprehension
square_list = [x**2 for x in range(10)]
square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
# list comprehension with more functionality
even_square_list = [x**2 for x in range(10) if x % 2 == 0] 
even_square_list

[0, 4, 16, 36, 64]

In [34]:
# flatten a matrix
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]] 
flattened = [e for row in matrix for e in row]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
# convert words to all caps
words = ["apple", "banana", "cherry"] 
uppercase_words = [i.title() for i in words] 
uppercase_words

['Apple', 'Banana', 'Cherry']

In [36]:
# dictionary comprehension
people = [("Alice", 22), ("Bob", 17), ("Charlie", 30), ("David", 40), ("Emily", 21)] 
p_dict = {name: age for name, age in people} 
p_dict

{'Alice': 22, 'Bob': 17, 'Charlie': 30, 'David': 40, 'Emily': 21}

In [37]:
p_dict.keys()

dict_keys(['Alice', 'Bob', 'Charlie', 'David', 'Emily'])

In [38]:
p_dict.values()

dict_values([22, 17, 30, 40, 21])

#### User Functions

In [39]:
# a very simple (and trivial) function
def say_hello():
    print('hello')

In [40]:
# call say_hello function
say_hello()

hello

In [41]:
# core of the function without a docstring
def add_ten(x):
    return x + 10

In [42]:
# a function with one parameter (and added docustring)
def add_ten(x=0):
    """ 
    Adds 10 to the given number.

    Parameters:
    x (int or float): The number to which 10 will be added.

    Returns:
    int or float: The result of adding 10 to the input number.
    """
    # this is an extra comment
    return x + 10

In [43]:
# call add_ten function with the value 5
add_ten("Bob")

TypeError: can only concatenate str (not "int") to str

In [44]:
# write a function that takes a string as argument
# and prints the string "Hello, name"
def greet(s='Bob'):
    print('hello, ' + s)

In [45]:
greet('Joe')

hello, Joe

In [46]:
# calculate bmi / body mass index
def calculate_bmi(weight_pounds, height_inches):
    """
    Calculates the Body Mass Index (BMI) from weight in pounds and height in inches.

    Parameters:
    weight_pounds (float): The weight in pounds.
    height_inches (float): The height in inches.

    Returns:
    float: The calculated BMI.
    """
    bmi = (weight_pounds / (height_inches ** 2)) * 703
    bmi = round(bmi, 1)
    return bmi

In [47]:
# call bmi function with 170 pounds and 70 inches
calculate_bmi(170.5, 70)

24.5

In [48]:
# call the say_hello function with an argument
say_hello()

hello

In [49]:
# call the calculate_bmi function with no arguments
calculate_bmi(170, 72)

23.1

In [50]:
# function with *args
def sum_all(*args):
    """
    This function takes any number of arguments and returns their sum.
    """
    total = 0
    for num in args:
        total += num
    return total

In [51]:
# provide a sequence of values to sum
result = sum_all(1, 2, 3)
print("The sum is:", result)

The sum is: 6

In [52]:
# provide a sequence of values to sum
result = sum_all(1, 2, 3, 10, 20, 50, 100, 1000, 2000, 555, 14, 9, 2, 11, 1)
print("The sum is:", result)

The sum is: 3778

In [53]:
# write a function to calculate the average of an unknown sequence of numbers
def avg(*args):
    return sum(args)/len(args)

In [54]:
# test avg function
result = avg(1, 2, 3, 10, 20, 50, 100, 1000, 2000, 555, 14, 9, 2, 11, 1, 3)
print("The average is:", result)

The average is: 236.3125

In [55]:
# test avg function
result = avg(1, 2, 3)
print("The average is:", result)

The average is: 2.0

In [56]:
# function with *args and **kwargs
def log_message(level, *args, **kwargs):
    """
    This function logs a message with a given severity level.
    """
    message = f"[{level.upper()}] " + " ".join(args)
    
    if kwargs:
        message += " | " + ", ".join(f"{key}={value}" for key, value in kwargs.items())
    
    print(message)

In [57]:
# example use
log_message("info", "User", "is", "currently", "logged", "in", user_id=412, location="dashboard")

[INFO] User is currently logged in | user_id=412, location=dashboard

In [58]:
# example use
log_message("error", "File", "is", "not", "found", filename="data.csv", retry=True, status="in progress")

[ERROR] File is not found | filename=data.csv, retry=True, status=in progress

When calling the function:
1.	Positional Arguments (`*args`):
- These are passed without names and are collected into a tuple.
2.	Keyword Arguments (`**kwargs`):
- These are passed with names (key-value pairs) and are collected into a dictionary.
- Example: `filename="data.csv"`, `retry=True`, `status="in progress"` in the call.

#### Exception Handling

In [59]:
# use try except structure
def add_ten(num):
    """ 
    Adds 10 to the given number.

    Parameters:
    x (int or float): The number to which 10 will be added.

    Returns:
    int or float: The result of adding 10 to the input number.
    """
    try:
        return num + 10
    except:
        print('Did you enter an integer or float?')
        # pass

In [60]:
add_ten("Bob")

Did you enter an integer or float?

In [61]:
# use try except structure with more detail
def add_ten(x):
    """ 
    Adds 10 to the given number.

    Parameters:
    x (int or float): The number to which 10 will be added.

    Returns:
    int or float: The result of adding 10 to the input number.
    """
    try:
        return x + 10
    except Exception as err:
        print(f"Unexpected {err=}, {type(err)=}")

In [62]:
# try more detailed except
add_ten("Bob")

Unexpected err=TypeError('can only concatenate str (not "int") to str'), type(err)=<class 'TypeError'>

In [63]:
# raise a "custom" exception
x = -1

if x < 0:
  raise Exception("Sorry, no numbers below zero")

Exception: Sorry, no numbers below zero

In [64]:
# raise a TypeError exception
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed

In [65]:
# test for palindrome
def is_pal(s):
    return s == s[::-1]

In [66]:
is_pal("racecar")

True

In [67]:
# convert F to C
def f_to_c(temp):
    return (temp - 32) * 5 / 9

In [68]:
f_to_c(-40)

-40.0

In [69]:
# function to test palindromes
def is_palindrome(s):
    s = s.lower().replace(" ", "")
    return s == s[::-1]

# example usage
print(is_palindrome("A man a plan a canal Panama"))  # True
print(is_palindrome("Hello"))                        # False

True
False

In [70]:
# temperature converter
def c_to_f(c):
    return (c * 9/5) + 32

def f_to_c(f):
    return (f - 32) * 5/9

# Example usage
print(c_to_f(25))  # 77.0
print(f_to_c(77))  # 25.0

77.0
25.0